@media screen and (max-width: 2560px) {
  .work-heading {
    font-size: 18rem;
    position: absolute;
    top: -10rem;
    left: 60rem;
    line-height: 1.1;
  }
  .team-heading {
    font-size: 18rem;
    position: absolute;
    top: -15rem;
    left: 80rem;
    line-height: 1.1;
  }
}

@media screen and (max-width: 1920px) {
  .work-heading {
    font-size: 15rem;
    position: absolute;
    top: -5rem;
    left: 65rem;
    line-height: 1.1;
  }
  .team-heading {
    font-size: 15rem;
    position: absolute;
    top: -5rem;
    left: 85rem;
    line-height: 1.1;
  }
}

@media screen and (max-width: 1440px) {
  #hero-img {
    width: 55rem;
    left: 3rem;
  }
}

@media screen and (max-width: 1366px) {
  #hero-img {
    width: 45rem;
    left: 3rem;
  }
  .work-heading {
    font-size: 10rem;
    top: 8rem;
    left: 80rem;
  }
  .team-heading {
    font-size: 10rem;
    top: 5rem;
    left: 90rem;
  }
  h1 {
    font-size: 10rem;
  }
  p {
    font-size: 2rem;
  }
  .img-work {
    width: 40rem;
    height: auto;
  }
  .img-team {
    width: 25rem;
    height: auto;
  }
}

@media screen and (max-width: 1280px) {
  #hero-img {
    width: 42rem;
    left: 3rem;
  }
  .work-heading {
    font-size: 10rem;
    top: 3rem;
    left: 80rem;
  }
  .team-heading {
    font-size: 10rem;
    top: -2rem;
    left: 90rem;
  }
  .img-team {
    width: 20rem;
    height: auto;
  }
  p {
    font-size: 2rem;
  }
  .slick-dots {
    bottom: -18rem;
  }
  .img-work {
    width: 35rem;
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  #logo {
    width: 40rem;
  }
  #hero-img {
    display: none;
  }
  p {
    font-size: 2rem;
    text-align: center;
  }
  .slick-dots li button {
    display: none;
  }
  .work-heading {
    position: unset;
    font-size: 10rem;
  }
  .team-heading {
    position: unset;
    font-size: 10rem;
  }
  .img-work {
    margin: 0 auto;
    display: block;
  }
  .img-team {
    margin: 0 auto;
    padding-top: 5rem;
    display: block;
  }
  h3 {
    display: none;
  }
  .slider-header .slick-dots {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #logo {
    width: 30rem;
  }
  .work-heading {
    font-size: 5rem;
    text-align: center;
  }
  .team-heading {
    font-size: 5rem;
    text-align: center;
  }

  h1 {
    font-size: 5rem;
    text-align: center;
  }
  p {
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: center;
  }
}
